<mat-sidenav-container class="consultas-container">
  

      <mat-sidenav #sidenav mode="side" [(opened)]="opened">


          <div style="padding: 10px;">
              <mat-nav-list class="sub-menu">
                  <mat-list-item > <a [routerLink]="['./control-despacho']" routerLinkActive="open">Control de Despacho</a>  </mat-list-item>
                  <mat-list-item > <a [routerLink]="['./plan-rastreabilidad']" routerLinkActive="open">Plan rastreabilidad</a>  </mat-list-item>
                  <mat-list-item> Valorizacion </mat-list-item>
              </mat-nav-list>
      
          </div>
         
      
      </mat-sidenav>

        <mat-sidenav-content>
          
          <div style="padding: 10px;">
            <router-outlet></router-outlet>
          </div>
          <!-- Main
          <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
          <p><button mat-button (click)="sidenav.toggle()">Toogle</button></p>

          <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button> -->
       
        </mat-sidenav-content>

  
 
</mat-sidenav-container>