<div [hidden]="!this.show">
    <h3>
      {{titulo}}
    </h3>
      <div style="height: 70%;">
        <button type="button" class="btn btn-danger btn-circle" [routerLink]="['./edicion', {id:0}]"
          (click)="ocultarLista()">
          <i class="fa fa-plus"></i>
        </button>
        <button type="button" class="btn btn-success btn-circle" (click)="showPanelBuscar()">
          <i class="fa fa-search"></i>
        </button>
          <br>
          <br>
      </div>

      <mat-form-field class="w-25">
        <mat-select  [(value)]="filial" placeholder="Filial" [compareWith]="compararFilial" (selectionChange)="valor($event)">
          <mat-option *ngFor="let filial of filialModel" [value]="filial">
            {{filial.dscfilial}}
          </mat-option>
        </mat-select>
    </mat-form-field>

      <p-table #dt class="f-12" [value]="usuariosModel"  dataKey="idusuario" selectionMode="single" [loading]="Cargando">
        <ng-template pTemplate="header">
          <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Login</th>
            <th>Perfil</th>
            <th>Filial</th>
          </tr>
          <tr>
            <th><input style="width: 100%" (click)="$event.stopPropagation()" (keyup)="Typeahead.next([$event.target.value,'idusuario','equals'])" pInputText type="text" ></th>
            <th><input style="width: 100%" (click)="$event.stopPropagation()" (keyup)="Typeahead.next([$event.target.value,'nomusuario','contains'])" pInputText type="text" ></th>
            <th><input style="width: 100%" (click)="$event.stopPropagation()" (keyup)="Typeahead.next([$event.target.value,'dni','contains'])" pInputText type="text" ></th>
            <th><input style="width: 100%" (click)="$event.stopPropagation()" (keyup)="Typeahead.next([$event.target.value,'login','contains'])" pInputText type="text" ></th>
            <th><input style="width: 100%" (click)="$event.stopPropagation()" (keyup)="Typeahead.next([$event.target.value,'perfil.dscperfil','contains'])" pInputText type="text" ></th>
            <th><input style="width: 100%" (click)="$event.stopPropagation()" (keyup)="Typeahead.next([$event.target.value,'filial.dscfilial','contains'])" pInputText type="text" ></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
          <tr [pSelectableRow]="usuario">
            <td>{{usuario.idusuario}}</td>
            <td>{{usuario.nomusuario}}</td>
            <td>{{usuario.dni}}</td>
            <td>{{usuario.login}}</td>
            <td>{{usuario.perfil.dscperfil}}</td>
            <td>{{usuario.filial.dscfilial}}</td>
            <td>
                <i  [routerLink]="['./edicion', {id:usuario.idusuario}]" (click)="ocultarLista()" style="cursor: pointer;" class="fa fa-pencil fa-1x" aria-hidden="true" data-toggle="tooltip" title="Editar"></i>&nbsp;
                <i style="cursor: pointer;" class="fa fa-trash-o fa-1x" aria-hidden="true" data-toggle="tooltip" title="Eliminar" (click)="delete(usuario)"></i>
            </td>
          </tr>
      </ng-template>
      </p-table>
          <ad-pagination [rowsForPageCbo]="[10,20,30,40]" [model]="this.usuariosModel" [filterPage]=[this.filterPage] [controller]="'usuario'"
          [orden]="'idusuario'" [_refreshPage]="this.refreshPage" (onPageChange)="this.refreshModel($event)"></ad-pagination>
</div>
<div class="container-fluit">
        <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
</div>
