<div [hidden]="!this.show">
  <h3>
    {{titulo}}
  </h3>
</div>
<div [hidden]="showChild" class="m-contenedor">
  <div style="height: 70%;">
    <button type="button" class="btn btn-danger btn-circle" [routerLink]="['./edicion']" (click)="showChild=true">
      <i class="fa fa-plus"></i>
    </button>
    <button type="button" class="btn btn-success btn-circle" (click)="ShowBuqueda = !ShowBuqueda">
      <i class="fa fa-search"></i>
    </button>
     <br>
    <br>
    
    <div class="example-container">
      <mat-form-field>
        <mat-select placeholder="Seleccione Filial">
          <mat-option *ngFor="let filial of dbfilial" [value]="filial">{{filial.dscfilial}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
<!--     
      <mat-form-field class="w-30">
        <mat-select appNextfocus placeholder="Seleccione Filial" formControlName="Seleccione una Filial" [compareWith]="compareFilial">
          <mat-option *ngFor="let filial of dbfilial" [value]="filial">
            {{filial.dscfilial}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->


    
    

    
    
    
    
    <br>
    
    <p-table #dt class="f-12" [value]="dbusuarios" selectionMode="single" [paginator]="true" [lazy]="false" (onLazyLoad)="filter($Filial)"
      [rows]="10" [totalRecords]="totalRecords" [pageLinks]="5" [rowsPerPageOptions]="[10,20,30]" editable="true" editMode="cell">
      <ng-template pTemplate="header">
        <tr>
          <th width="80px">Codigo</th>
          <th [pSortableColumn]="'nomusuario'">
            Nombres
            <p-sortIcon [field]="'nomusuario'"></p-sortIcon>
          </th>
          <th>DNI</th>
          <th [pSortableColumn]="'login'">
            Login
            <p-sortIcon [field]="'login'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'perfil.dscperfil'">
            Perfil
            <p-sortIcon [field]="'perfil.dscperfil'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'filial.dscfilial'">
            Filial
            <p-sortIcon [field]="'filial.dscfilial'"></p-sortIcon>
          </th>
          <th width="80px"></th>
        </tr>
        <ng-container *ngIf="ShowBuqueda">
          <tr>
            <th>
              <input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'idusuario','equals'])">
            </th>
            <th>
              <input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'nomusuario','contains'])">
            </th>
            <th>
              <input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'dni','contains'])">
            </th>
            <th>
              <input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'login','contains'])">
            </th>
            <th>
              <input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'perfil.dscperfil','contains'])">
            </th>
            <th>
              <input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'filial.dscfilial','contains'])">
            </th>
            <th>-</th>
          </tr>
        </ng-container>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr [pSelectableRow]="item">
          <td>{{item.idusuario}}</td>
          <td>{{item.nomusuario}}</td>
          <td>{{item.dni}}</td>
          <td>{{item.login}}</td>
          <td>{{item.perfil.dscperfil}}</td>
          <td>{{item.filial.dscfilial}}</td>
          <td>
            <i class="fa fa-trash-o cursor pr-2" aria-hidden="true" title="Eliminar" (click)="borrarRegistro(item)"></i>
            <i class="fa fa-pencil cursor" aria-hidden="true" title="Editar" [routerLink]="['./edicion', {id: item.idusuario}]"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div>
  <router-outlet (activate)='onActivateChild()' (deactivate)='onDeactivateChild()'></router-outlet>
</div>