<mat-sidenav-container class="parametros-container">
  

    <mat-sidenav #sidenav mode="side" [(opened)]="opened">


        <div style="padding: 10px;">
            <mat-nav-list class="sub-menu">
                <mat-list-item > <a class="relative" [routerLink]="['./punto-partida']" routerLinkActive="open">Punto de partida</a>  </mat-list-item>
                <mat-list-item> <a class="relative" [routerLink]="['./registro-vehiculos']" routerLinkActive="open">Registro de Vehiculos</a>  </mat-list-item>
                <mat-list-item> <a class="relative" [routerLink]="['./registro-chofer']" routerLinkActive="open">Registro de Choferes</a> </mat-list-item>
                <mat-list-item> <a class="relative" [routerLink]="['./registro-transportista']" routerLinkActive="open">Registro de Transportistas</a> </mat-list-item>
                <mat-list-item> <a class="relative" [routerLink]="['./registro-datos-guia']" routerLinkActive="open">Datos para Impresion de Guias</a> </mat-list-item>
            </mat-nav-list>
    
        </div>
       
    
    </mat-sidenav>

      <mat-sidenav-content>
        
        <div style="padding: 15px;">
          <router-outlet></router-outlet>
        </div>
  
     
      </mat-sidenav-content>



</mat-sidenav-container>